/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #eee;
  color: #333;
  --jaune: #f1c40f;
}

p {
  margin-bottom: 0.8rem;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
} 

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  color: var(--jaune);
  font-weight: 400;
}

em {
  color: #555;
}

/* container */

.container {
  display: block;
  max-width: 1200px;
  margin: auto;
}

.title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.bg-dark {
  background: #333; 
  color: white
}

.vp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
}

.vp-logo {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-family: "Varela round", cursive;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.vp-logo i  {
  color: var(--jaune);
  font-size: 3rem;
  margin-right: 0.5rem;
}

.vp-logo a {
  font-size: 3rem;
  font-weight: 300;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 1rem;
}

header ul li a:hover {
  color: var(--jaune);
}  

header a {
  color: white;
}

/* vp */

.vp {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(../img/neon-tunnel.webp) center center/cover;
}

.vp-content {
  max-width: 800px;
  text-align: center;
  color: white;
  padding: 1rem;
}

.vp-content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Varela round", cursive;
}

.vp-content p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
}

/* offer */
.offer {
  padding: 10rem 1rem;
}

.offer-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.offer-elem {
  border: 1px solid #ddd;
  background: white;
  margin: 1rem;
  flex: 1;
}

.offer-elem-img {
  width: 100%;
}

.offer-elem-text {
  padding: 2rem;
  text-align: center;
}

.offer-separator {
  margin: 1rem auto;
  height: 2px;
  width: 50px;
  background: #333;
}

/* who */
.who {
  display: flex;
  flex-flow: rom nowrap;
  min-height: 600px;
}

.who-content-img {
  flex: 1;
  background: url(../img/neon-retro-hyper.webp) center center/cover;
}

.who-content-img img {
  width: 100%;
}

.who-content-text {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.who-content-text h2 {
  margin-bottom: 2rem;
}

.who-content-text p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

/* Testimonials */

.testimonials {
  padding: 5rem 1rem;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
}

.testimonials-elem {
  flex: 1;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonials-elem-text {
  padding: 0 2rem;
}

.testimonials-elem-text p i {
  margin: 0.2rem;
}

.testimonials-elem-profile p {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.testimonials-elem-profile img {
  width: 50px;
  border-radius: 50px;
  margin-bottom: 0.5rem;
}

/* Contact */

.contact {
  padding: 10rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url(../img/neon-circle.webp) center center/cover;
}

.contact-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact-form h2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Varela round", cursive;
}

.contact-form input {
  background: #333;
  border: 0;
  border-bottom: 1px solid #555;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  outline: 0;
  margin-bottom: 1rem;
}

.contact-form button {
  display: block;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 30px;
  background: var(--jaune);
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

.contact-form button:hover {
  background: orange;
}

/* Footer */
footer {
  background: #444;
  padding: 5rem 1rem;
  color: white;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}